name: Challenge

on: push

jobs:
  job1:
    name: run-on-ubuntu
    runs-on: ubuntu-latest
    steps:
        - run: date
  job2:
    name: run-on-windows
    runs-on: windows-latest
    steps:
      - run: date
  job3:
    name: run-on-macos
    runs-on: macos-latest
    steps:
      - run: date
  job4:
    needs: [job1, job2, job3]
    name: has-dependency
    runs-on: macos-latest
    steps:
      - run: date
